@model ColombusWebapplicatie.Models.Travel.Travel

@{
    ViewBag.Title = "Locaties toevoegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white-block">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("SearchLocation", "Travel", FormMethod.Post))
        {
            @Html.TextBox("query");
            <input class="button orange" type="submit" name="search" value="Zoeken">
        }
    </div>
</div>
