<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Columbus: Explore the world</title>
    <link href="~/favicon.ico"
          rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet"
          href="@Url.Content("~/Content/style/style.css")" />
</head>
<body>
    <header></header>
    <div id="body">
        @RenderBody()
    </div>
    <footer></footer>
</body>
</html> 