@{
    ViewBag.Title = "Over ons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white-block">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <p style="text-align:center">Columbus is een applicatie ontwikkeld in het thema Kennismanagament. Het doel was het toepassen van kennismanagement binnen een project. Na brainstormen is het concept Columbus ontwikkelt.
            Een applicatie die voor jou een reis kan plannen en hier achteraf een verslag van kan maken. 
        </p>
        <br/>
        <p style="text-align:center">Dit allemaal is ontwikkeld in opdracht van Stenden Hogeschool. Het projectgroep bestaat uit: Roy Bekkering, Jarno Botke, Jordi Sipkens en Marc Tibben</p>
    </div>
</div>