@{
    ViewBag.Title = "Over ons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white-block">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <p>Wij zijn Jarno Botke, Jordi Sipkens, Roy Bekkering en Marc Tibben.</p>
    </div>
</div>