@{
    ViewBag.Title = "Android app";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white-block">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <p>Klik <a href="#">hier</a> om de Android applicatie te downloaden.</p>
    </div>
</div>


