@model ColombusWebapplicatie.Models.User

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="background-image balloons">
    <div class="container">
        <h1>
            Explore the world
        </h1>
    </div>
    <div class="white-block login">
        <div class="container">
            @using(Html.BeginForm("Login", "Account", FormMethod.Post)) {
                @Html.TextBoxFor(user => user.Username, new { @placeholder = "Gebruikersnaam", @class="login input" })
                @Html.PasswordFor(user => user.Password, new { @placeholder = "Wachtwoord", @class="login input"})
                <input class="button orange"type="submit" name="submit" value="Inloggen">
            }
        </div>
    </div>
</div>
<div class="orange-block">
    <div class="container">
        <h2>Home</h2>
    </div>
</div>
<div class="white-block">
    <div class="container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis vel lorem quis pretium. Pellentesque mattis magna sit amet nisi facilisis, a suscipit erat hendrerit. Pellentesque mollis et mi sed ultrices. Morbi tincidunt nibh sed ligula cursus gravida. Nullam non velit ac urna ornare fringilla. Proin luctus purus at vehicula tincidunt. Vestibulum suscipit turpis et diam posuere consectetur. Suspendisse et lectus eros. Mauris fermentum sit amet dolor vel tempus. Fusce in tortor felis.

            Nam egestas risus in nibh ultricies tincidunt. Sed blandit pellentesque justo. Cras et arcu quis justo pellentesque efficitur. Duis vel tortor consectetur, pretium est eu, placerat sem. Nam quis risus ac ante ullamcorper cursus. Donec molestie neque lectus, sit amet dapibus nisl mollis placerat. Quisque dignissim pretium neque eget lobortis. Nullam rutrum sit amet orci id porta.
            Donec sagittis lorem lorem, vitae commodo elit scelerisque viverra. Sed blandit massa at malesuada volutpat. Nulla facilisi. Donec sed volutpat purus. Ut dui nisl, egestas eu ultrices eu, viverra sed lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec semper pellentesque gravida. Phasellus malesuada, metus non ornare posuere, sapien lacus venenatis lorem, eu dictum velit massa eget augue. Aliquam ac lectus faucibus, consequat risus vel, pretium est. Donec diam velit, rutrum a semper id, aliquam ut nisl.
        </p>
    </div>
</div>

